<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <context:annotation-config/>
    <context:component-scan base-package="com.mycompany.study"/>

    <mvc:annotation-driven/>
    <mvc:default-servlet-handler/>

    <!--integrate ThymeLeaf with Spring-->
    <bean id="templateResolver"
          class="org.thymeleaf.templateresolver.ServletContextTemplateResolver">
        <!--prefix must endOf /-->
        <property name="prefix" value="/WEB-INF/" />
        <property name="suffix" value=".html" />
        <property name="templateMode" value="HTML5" />
        <!--false for devEnv, true for production-->
        <property name="cacheable" value="false"/>
    </bean>
    <bean id="templateEngine"
          class="org.thymeleaf.spring4.SpringTemplateEngine">
        <property name="templateResolver" ref="templateResolver" />
    </bean>

    <bean id="thymeleafViewResolver"
          class="org.thymeleaf.spring4.view.ThymeleafViewResolver">
        <property name="templateEngine" ref="templateEngine" />
        <property name="order" value="0" />
        <!--<property name="viewClass" value="org.thymeleaf.spring4.view.ThymeleafView"/>-->
        <property name="viewNames" value="thymeleaf/*" />
        <property name="characterEncoding" value="UTF-8" />
    </bean>

    <bean id="internalResourceViewResolver"
          class="org.springframework.web.servlet.view.InternalResourceViewResolver" >
        <property name="prefix" value="/WEB-INF/" />
        <property name="suffix" value=".jsp" />
        <property name="order" value="1" />
        <property name="viewNames" value="jsp/*"/>
    </bean>

    <!-- UrlBasedViewResolver to Handle Redirects & Forward -->
    <bean id="urlViewResolver" class="org.springframework.web.servlet.view.UrlBasedViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.AbstractUrlBasedView" />
        <property name="order" value="2" />
    </bean>

</beans>
